### Convert excel to csv file

In [35]:
import pandas as pd

reviews_4stars = pd.read_excel(
    "../02.Dataset/labeled/reviews_4stars.xlsx", sheet_name="Sheet1"
)
reviews_3stars = pd.read_excel(
    "../02.Dataset/labeled/reviews_3stars.xlsx", sheet_name="Sheet1"
)

reviews_4stars.to_csv("../02.Dataset/labeled/reviews_4stars.csv", index=False)
reviews_4stars.to_csv("../02.Dataset/labeled/reviews_3stars.csv", index=False)

### Prepare the dataset

In [6]:
import pandas as pd

In [7]:
reviews = pd.read_csv('../02.Dataset/reviews.csv')

In [8]:
# Drop the 'Unnamed: 0' column if it exists
if 'Unnamed: 0' in reviews.columns:
    reviews.drop(columns=['Unnamed: 0'], inplace=True)

In [9]:
reviews['Comment'].isna().sum()  # Check for missing values in 'Comment' column

np.int64(0)

In [10]:
reviews['Rating'].value_counts()

Rating
5    30816
4     3744
3     1439
1     1060
2      706
Name: count, dtype: int64

In [11]:
reviews.info()  # Display DataFrame information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37765 entries, 0 to 37764
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ProductID   37765 non-null  int64
 1   CustomerID  37765 non-null  int64
 2   Rating      37765 non-null  int64
 3   Comment     37765 non-null  object
dtypes: int64(3), object(1)
memory usage: 1.2+ MB

In [12]:
reviews_5stars = reviews[reviews["Rating"] == 5].sample(1500).reset_index(drop=True)
reviews_4stars = reviews[reviews["Rating"] == 4].sample(1000).reset_index(drop=True)
reviews_3stars = reviews[reviews["Rating"] == 3].sample(1439).reset_index(drop=True)
reviews_2stars = reviews[reviews["Rating"] == 2].sample(706).reset_index(drop=True)
reviews_1star = reviews[reviews["Rating"] == 1].sample(1060).reset_index(drop=True)

In [13]:
# Add a new column 'Label'
reviews_5stars['Label'] = ''
reviews_4stars['Label'] = ''
reviews_3stars['Label'] = ''
reviews_2stars['Label'] = ''
reviews_1star['Label'] = ''

In [14]:
reviews_5stars.to_csv('../02.Dataset/labeled/reviews_5stars.csv', index=False)
reviews_4stars.to_csv("../02.Dataset/labeled/reviews_4stars.csv", index=False)
reviews_3stars.to_csv("../02.Dataset/labeled/reviews_3stars.csv", index=False)
reviews_2stars.to_csv("../02.Dataset/labeled/reviews_2stars.csv", index=False)
reviews_1star.to_csv("../02.Dataset/labeled/reviews_1star.csv", index=False)

In [15]:
reviews_5stars = reviews[reviews["Rating"] == 5].sample(1000).reset_index(drop=True)

In [16]:
reviews_5stars['Label'] = 'pos'

In [17]:
reviews_5stars.head()

,ProductID,CustomerID,Rating,Comment,Label
0,189643105,17141782,5,Giao hàng cực nhanh! _x000D_\r\nNội dung chưa ...,pos
1,46789754,22754859,5,oo,pos
2,52785564,28451120,5,Sách bìa xinh,pos
3,74021317,18285357,5,Tốt,pos
4,8885995,6836236,5,"Đây là 1 tác phẩm trinh thám, kinh dị rất kinh...",pos

In [18]:
reviews_5stars.to_csv("../02.Dataset/labeled/reviews_5stars.csv", index=False)

### Labeled the dataset

In [36]:
reviews_5stars = pd.read_csv("../02.Dataset/labeled/reviews_5stars.csv")
reviews_4stars = pd.read_csv("../02.Dataset/labeled/reviews_4stars.csv")
reviews_3stars = pd.read_csv("../02.Dataset/labeled/reviews_3stars.csv")
reviews_2stars = pd.read_csv("../02.Dataset/labeled/reviews_2stars.csv")
reviews_1star = pd.read_csv("../02.Dataset/labeled/reviews_1star.csv")

# Concatenate all DataFrames into one
reviews = pd.concat([reviews_5stars, reviews_4stars, reviews_3stars, reviews_2stars, reviews_1star], ignore_index=True)

In [37]:
reviews.dropna(subset=["Comment"], inplace=True)
reviews["Label"] = reviews["Label"].str.strip().str.replace("\\", "", regex=False)

In [38]:
reviews.dropna(subset=["Comment"], inplace=True)
reviews.dropna(subset=["Label"], inplace=True)
reviews.reset_index(drop=True, inplace=True)

In [39]:
reviews.head()

,ProductID,CustomerID,Rating,Comment,Label
0,74021317,7991785,5,Một quyển sách hay,pos
1,187827003,18150739,5,"Mình đã từng đọc sơ nội dung sách, rất hay, rấ...",pos
2,271380890,497788,5,"Quyển sách đẹp về hình thức, nội dung mới đọc ...",pos
3,74021317,19165924,5,"Sách đẹp, hài lòng",pos
4,105483727,10170816,5,"sách đóng gói cẩn thận, giao hành nhanh",pos

In [40]:
reviews['Label'].value_counts()

Label
neg    2101
pos    1923
neu     356
Name: count, dtype: int64

In [24]:
reviews = reviews[reviews['Label'] != 'neu']

In [41]:
len(reviews)

4380

In [42]:
reviews.to_csv("../02.Dataset/labeled/reviews.csv", index=False)

In [43]:
reviews.query("CustomerID == 7991785").head(10)

   ProductID  CustomerID  Rating             Comment Label
0   74021317     7991785       5  Một quyển sách hay   pos